<br />

<div class="container row"?
	<div class="col-12 text-center">
		<h2 class="text-primary" text-center>Transaction failed.</h2>
		<br /><br />
	</div>
	<h3 class="col-12 text-center" style="color:darkred">
		<br />
		 Please return to the <a href="../checkout"> donation page</a>
	</h3>
</.div>