<br />

<div class="container row"?
	<div class="col-12 text-center">
		<h2 class="text-primary" text-center>Thank you!</h2>
		<br /><br />
	</div>
	<h3 class="col-12 text-center" style="color:darkred">
		<br />
		 Your donnation was successful.
	</h3>
</.div>